* {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
}

body {
  margin: 0px;
  width: 100%;
  background-color: #f7f7f7;
}

.header {
  background-image: url("../images/backgrounds/backgrounds__home/BackH.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 157px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}

.navigation__logo {
  cursor: pointer;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 11px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.navigation__link {
  font: 12px/20px "Oxygen", Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.header__baner {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 110px;
}

.header__title {
  font: 50px/51px "Lora", Arial, sans-serif;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.header__subtitle {
  font: 17px/20px "Oxygen", Arial, sans-serif;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.63;
  margin-bottom: 31px;
}

.header__button {
  font: 13px/20px "Oxygen", Arial, sans-serif;
  color: #FFFFFF;
  padding: 12px 31px;
  background-color: #DD783F;
  border-radius: 3px;
  border: none;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 9px 0 10px;
  height: 40px;
}

.menu__link {
  font: 14px/20px "Lora", Arial, sans-serif;
  color: #768088;
  text-decoration: none;
  padding: 13px 41px;
}

.content {
  padding: 60px 0 89px;
}

.section-headings {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.section-headings__title {
  font: 20px/27px "Oxygen", Arial, sans-serif;
  color: #2E2E2E;
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 16px;
}

.news {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
  gap: 10px;
}

.news__post {
  display: flex;
  position: relative;
  justify-content: end;
  height: 265px;
  width: 460px;
  padding-bottom: 15px;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
}


.news-post__button {
  font: 12px/26px "Oxygen", Arial, sans-serif;
  color: #FFFFFF;
  background-color: #DD783F;
  border-radius: 3px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 87px;
  height: 26px;
  text-align: center;
}


.news-post__description {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  margin-left: 20px;
}

.news-post__title {
  font: 27px/30px "Lora", Arial, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.news-post__subtitle {
  font: 12px/25px "Oxygen", Arial, sans-serif;
  color: #FFFFFF;
  opacity: 0.7;
}

.news-post__info {
  display: flex;
  align-items: center;
  gap: 200px;
}

.news-post-info__autor {
  display: flex;
  gap: 10px;
  height: 35px;
}

.news-post-info-autor__name,
.news-post-info__release-date {
  font: 12px/35px "Oxygen", Arial, sans-serif;
  color: #FFFFFF;
  opacity: 0.7;
}

.user-actions {
  display: flex;
  justify-content: center;
}

.user-action-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 940px;
}

.user-actions__post {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 296px;
  text-decoration: none;
}

.user-actions-post__button {
  text-decoration: none;
}

.user-actions-post__description {
  display: flex;
  flex-direction: column;
  padding: 14px 0 0 13px;
  flex-wrap: wrap;
  height: 100px;
  border-bottom: 1px solid #EFEFEF;
}

.user-actions-post__title {
  font: 16px/21px "Lora", Arial, sans-serif;
  color: #101315;
  margin-bottom: 6px;
}

.user-actions-post__subtitle {
  font: 13px/19px "Oxygen", Arial, sans-serif;
  color: #7A7A7A;
  margin-bottom: 6px;
  max-width: 270px;
  height: 38px;
}

.user-actions-post__info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 13px;
  gap: 100px;
  align-items: center;
  background-color: #FCFCFC;
}

.user-actions-post-info__autor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions-post-autor__name {
  font: 12px/35px "Oxygen", Arial, sans-serif;
  color: #999999;
  text-decoration: none;
  margin-top: 7px;
  margin-bottom: 6px;
}

.user-actions-post-info__publish-data {
  font: 12px/35px "Oxygen", Arial, sans-serif;
  color: #999999;
}

.navigation__list_foot {
  opacity: 0.6;
}

.navigation__logo_foot {
  margin-top: 3px;
  margin-bottom: 5px;
}

.footer {
  display: flex;
  background: url("../images/backgrounds/backgrounds__home/BackF.png") #232F3899;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  height: 89px;
}