body {
    margin: 0;
}

.blok {
    margin: 17px 250px;
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    width: 940px;
}

div .big {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-family: "Lora";
    margin-right: 570px;
}

.blok div{
    display: inline-block;
}

.blok div .Home{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    margin: 10px 21px 10px 19.6px;
}

.blok div div a {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    margin-right: 0px 0px 0px 0px;
    padding: 10px 10px;
}

.blok2{
    margin: 89px 250px 38px 250px;
    height: 59px;
    width: 940px;
}
h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    font-family: "Lora";
    margin: 7px 221px 20px 221px;
}

.blok2 span {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: "Lora";
    text-align: center;
    color: #2E2E2E;
    opacity: 0.63; 
    margin: 0px 217px 75px 217px;
}

.P1 {
    margin: 38px 0px 140px 0px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    font-family: "Oxygen";
    text-align: left;
    width: 960px;
    height: 1431;
    margin: 0px 240px 135px 240px; 
}

.footer {
    background-image: url("./images/BackR.png");
  }
  
.footer {
    margin: 0px;
    display: inline-block;
    box-sizing: border-box;
    height: 89px;
    width: 1440px;
}
    
.footer div {
    margin: 28px 240px 27px 240px;
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    width: 960px;
}

.big2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-family: "Lora";
    margin-right: 3px 0px 3px 10px;
    width: 92px;
    height: 26px;
    color: #FFFF;
}

.footer div div{
    width: 639.98px;
    height: 32px;
    margin: 28px 240px 29px ;
    border: 1px #FFFF;
}

.footer div div .Home2{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    color: #FFFF;
    opacity: 0.60;
    margin-right: 30px;
    margin: 3px 10px 3px 358.02px ;
}

.footer div div div a {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    color: #FFFF;
    opacity: 0.60;
    margin-right: 3px 10px;
}