body {
    margin: 0px;
    width: 100%;
}

.top-block {
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin: 17px 17% 106px 17%;
}

.logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-family: "Lora";
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.links {
    height: 40px;
    margin-left: 485px;
    display: inline-block;
}

.links-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.title {
    margin: 0 18% 38px 18%;
    height: 159px;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    font-family: "Lora";
    margin: 7px 25% 20px 25%;
    height: 51px;
}

.title span {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: "Oxygen";
    text-align: center;
    color: #2E2E2E;
    opacity: 0.63;
    margin-bottom: 75px;
}

.P1 {
    height: 541px;
    margin-bottom: 140px;
    width: 100%;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    font-family: "Oxygen";
    text-align: left;
    height: 1431;
    margin: 0 20% 135px 20%;
}

.footer-menu {
    display: inline-block;
    margin-left: 600px;
}

.basement-foot {
    box-sizing: border-box;
    height: 89px;
    background-image: url("./images/BackR.png");
    background-position: center;
    background-size: 100%;
}

.basement-foot-elements{
    padding: 31px 17% 0 17%;
}

.footer-menu-logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-family: "Lora";
    margin-right: 3px 0px 3px 10px;
    height: 26px;
    color: #FFFF;
    cursor: pointer;
    text-decoration: none;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Oxygen";
    color: #FFFF;
    opacity: 0.60;
    margin-right: 30px;
    margin: 3px 10px 3px 0;
    cursor: pointer;
    text-decoration: none;
}